<ion-view title="Page" id="page5" style="background-color:#174260;">
  <ion-content padding="true" style="background: url(img/LkVclm1vS1i7W4RZcaX9_tumblr_oym1pz2jXC1vsjcxvo1_540.gif) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider11" delegate-handle="slider11" id="page4-slider11" style="width:100%;height:100%;">
      <ion-slide-page id="page4-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
          <img src="img/YnGDu5RBTAGTnQD71fG4_Slide4.JPG" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
          <img src="img/scey2bhDSayrfNOb8Gil_Slide5.JPG" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="page4-heading5" style="color:#EBFF18;font-weight:600;text-align:center;">இவ்விரண்டு சொற்களிலும் 'ல் , லை' ஆகிய 'லகர' எழுத்துகள் இடம்பெற்றுள்ளது</h4>
      </ion-slide-page>
      <ion-slide-page id="page4-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
        <h2 id="page4-heading6" style="color:#EC92F0;font-weight:600;text-align:center;">முயற்சிப்போம் வாரீர்!!!</h2>
        <div>
          <img src="img/HAujSbSXRAWulwwL3cfp_milk_gif.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="page71()" id="page4-button65" style="font-size:40px;" class="button button-balanced button-block">a. பாள் </a>
        <a ui-sref="page68()" id="page4-button69" style="font-size:40px;" class="button button-assertive button-block">b. பால்</a>
        <a ui-sref="page71()" id="page4-button66" style="font-size:40px;" class="button button-royal button-block">c. பாழ்</a>
      </ion-slide-page>
    </ion-slides>
    <button id="page4-button67" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>