<ion-view title="Page" id="page62">
  <ion-content padding="true" style="background: url(img/Sn5XhJ6RKGOeKPuptZ0G_rBVaSVuuJ1GAT_stAAf1vQ47TgU912.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page58-button277" style="font-size:30px;" class="button button-assertive button-block">வாழ்த்துகள்!!! சரியான பதில்</button>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SNa7I6fOSvyGfABvVbUh_LegalImaginativeAuk-small.gif" style="display: block; width: 100%; height: 150%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page30()" id="page58-button278" style="color:#1A1717;font-size:20px;" class="button button-energized button-block icon-right ion-arrow-right-a">அடுத்த கேள்வி</a>
  </ion-content>
</ion-view>