<ion-view title="Page" id="page21">
  <ion-content padding="true" style="background: url(img/bR8mvMQTTaKoxZZJ2XeZ_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page20-button120" style="color:#010101;font-size:20px;" class="button button-energized button-block">எழுத்துகளும் அதற்கு தொடர்புடைய வர்ணங்களும் அட்டவணையில் வழங்கப்பட்டுள்ளது. அட்டவணையைத் துணைகொண்டு சொற்களை உருவாக்குக.</button>
    <a ui-sref="page21()" id="page20-button121" style="font-size:40px;" class="button button-assertive button-large button-block icon-right ion-arrow-right-a">கேள்விகள்</a>
  </ion-content>
</ion-view>