<ion-view title="Page" id="page69">
  <ion-content padding="true" style="background: url(img/O7Ijfln2SH2kkfVwWFFB_f6c2dd49664051.58bb23d5ebe9a.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page66-button291" style="font-size:30px;" class="button button-assertive button-block">மன்னிக்கவும். தவறான பதில். மீண்டும் முயற்சி செய்க</button>
    <div>
      <img src="img/STqxJk0tQlyGmGxnvtBO_DisastrousFlippantEelelephant-max-1mb.gif" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page32()" id="page66-button292" style="color:#111011;font-size:30px;" class="button button-energized button-block icon-left ion-arrow-left-a">கேள்வி</a>
  </ion-content>
</ion-view>