<ion-view title="Page" id="page28">
  <ion-content padding="true" style="background: url(img/jpTGflrJQFqfpTaYizCO_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="page27-heading17" style="color:#EEE462;font-weight:600;text-align:center;">கொடுக்கப்பட்டுள்ள படத்திற்கேற்ற சரியான 'லகர,ளகர, ழகர' எழுத்துகள் கொண்ட சொற்களைத் தெரிவு செய்க.</h3>
    <div>
      <img src="img/LyvlhVK3Q92mM59RiLvo_simpsonstest2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page26()" id="page27-button158" style="font-size:30px;" class="button button-assertive button-block">கேள்விகள்</a>
  </ion-content>
</ion-view>