<ion-view title="Page" id="page20">
  <ion-content padding="true" style="background: url(img/Cz6EIEPCRfO8yB3jTk6t_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page8()" id="page19-button113" style="font-size:20px;" class="button button-balanced button-block">1. கால்</a>
    <a ui-sref="page10()" id="page19-button114" style="font-size:20px;" class="button button-assertive button-block">2. வாழைப்பழம்</a>
    <a ui-sref="page11()" id="page19-button115" style="color:#0C0A0C;font-size:20px;" class="button button-energized button-block">3. மிளகாய்</a>
    <a ui-sref="page17()" id="page19-button116" style="font-size:20px;" class="button button-royal button-block">4. பலம்</a>
    <a ui-sref="page18()" id="page19-button117" style="font-size:20px;" class="button button-positive button-block">5. கிளி</a>
    <h4 id="page19-heading10" style="color:#F7E8E8;text-align:center;">கேளிவிகளுக்குச் சரியாக பதிலளித்தமைக்கு வாழ்த்துகள்.தவறாக பதிலளித்திருப்பின் மீண்டு மேலே பதில் கொண்ட விசையை அழுத்தி பதில்களைச் சரி செய்யவும்</h4>
    <a ui-sref="page13()" id="page19-button201" class="button button-dark button-block icon ion-arrow-right-a"></a>
  </ion-content>
</ion-view>