<ion-view title="Page" id="page34">
  <ion-content padding="true" style="background: url(img/8nQEijpNStWwRS09tKhr_5ee467409c12463dacce2a193bbc97f7.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page33-button123" style="font-size:20px;" class="button button-assertive button-block">கொடுக்கப்பட்டுள்ள படத்திற்கு ஏற்ற சரியான எழுத்துகளைத் தேர்ந்தெடுத்து சொற்களை உருவாக்குக.</button>
    <div>
      <img src="img/VEaloOobSRGNphb9cn5H_Cooler-Master-lighting-cycle-gif-2066.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page34()" id="page33-button124" style="color:#141315;font-size:30px;" class="button button-energized button-block">கேள்விகள்</a>
  </ion-content>
</ion-view>