<ion-view title="Page" id="page29">
  <ion-content padding="true" style="background: url(img/kFkhZqkwQpaGirVonkgJ_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/8YcVbzj9QBauTLWvgwi0_giphy1.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page63()" id="page28-button159" style="font-size:30px;" class="button button-assertive button-block">ஊதழ்</a>
    <a ui-sref="page63()" id="page28-button160" style="font-size:30px;" class="button button-balanced button-block">ஊதள்</a>
    <a ui-sref="page57()" id="page28-button161" style="color:#010101;font-size:30px;" class="button button-energized button-block">ஊதல்</a>
  </ion-content>
</ion-view>