<ion-view title="Page" id="page49">
  <ion-content padding="true" style="background: url(img/8QUnnzpIT0uvluFYNSrC_36942_1432411409931685.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page52-button242" style="font-size:20px;" class="button button-assertive button-block">வாழ்த்துகள்!!! சரியான சொல் உருவாக்கப்பட்டது</button>
    <button id="page52-button243" style="font-size:30px;" class="button button-calm button-block">மொழி</button>
    <div>
      <img src="img/QtvOtzkSJCJVbLMAeqog_clapping_emoji_gif.jpg" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page15()" id="page52-button244" style="font-size:50px;" class="button button-royal button-block icon ion-arrow-right-a"></a>
  </ion-content>
</ion-view>