<ion-view title="Page" id="page33">
  <ion-content padding="true" style="background: url(img/F1ryD5zQOGyOQe4gkDmC_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <div>
      <img src="img/2XuNGNILRzqlUUp30itB_graphics-eyes-149456.gif" style="display:block;width:100%;height:130;">
    </div>
    <a ui-sref="page61()" id="page32-button118" style="font-size:30px;" class="button button-assertive button-block">விழி</a>
    <a ui-sref="page67()" id="page32-button119" style="font-size:30px;" class="button button-balanced button-block">விளி</a>
    <a ui-sref="page67()" id="page32-button122" style="color:#040404;font-size:30px;" class="button button-energized button-block">விலி</a>
  </ion-content>
</ion-view>