<ion-view title="Page" id="page76">
  <ion-content padding="true" style="background: url(img/CFyPYLSvRG2yAVNUWmBf_76YY.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page78-button169" style="color:#060505;font-size:25px;" class="button button-energized button-block">கற்போம் வாரீர்!!!</button>
    <div>
      <img src="img/Ztl5MWYfSGKFjhQYSESW_13c5f407b6d2d04f1b43ec39936f012e.gif" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page()" id="page78-button170" style="font-size:30px;" class="button button-assertive button-block">லகரம்</a>
    <a ui-sref="page2()" id="page78-button171" style="font-size:30px;" class="button button-assertive button-block">ளகரம்</a>
    <a ui-sref="page3()" id="page78-button178" style="font-size:30px;" class="button button-assertive button-block">ழகரம்</a>
    <a ui-sref="page77()" id="page78-button143" class="button button-balanced button-block icon ion-android-home"></a>
  </ion-content>
</ion-view>