<ion-view title="Page" id="page80">
  <ion-content padding="true" style="background: url(img/IAHjxQQBef3kh3USisdw_b74bc11ce607c047fe35ed4d64f34469.gif) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider16" delegate-handle="slider16" id="page77-slider16" style="width:100%;height:100%;">
      <ion-slide-page id="page77-slide212" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/G7a6WOdeRiGcIyG0D3yr_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div>
          <img src="img/G47wqM5xS2yTWGT3aGar_profesora.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="page77-slide213" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <h2 id="page77-heading22" style="color:#E2EE63;text-align:center;">லகர, ளகர, ழகர எழுத்துகள் கொண்ட சொற்களை உருவாக்குவோம் வாரீர்!!!</h2>
        <a ui-sref="page78()" id="page77-button131" style="font-size:30px;" class="button button-assertive button-block">கற்போம்</a>
        <a ui-sref="page7()" id="page77-button141" style="font-size:26px;" class="button button-assertive button-block">உருவாக்குவோம்</a>
        <div id="page77-button-bar19" class="button-bar">
          <a ui-sref="page74()" id="page77-button148" class="button button-balanced button-block icon ion-woman"></a>
          <a ui-sref="page75()" id="page77-button162" class="button button-energized button-block icon ion-ios-paper"></a>
          <a ui-sref="page76()" id="page77-button163" class="button button-royal button-block icon ion-help"></a>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>