<ion-view title="Page" id="page10">
  <ion-content padding="true" style="background: url(img/GvJ3GiKScOrpE15gZSW7_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/e9auGEtrQ2SwMB2fFepI_banana.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page10-button93" style="font-size:30px;" class="button button-assertive button-large button-block">2.வா____ப்ப____ம்</button>
    <form id="page10-form4" class="list">
      <label class="item item-input" id="page10-input3">
        <span class="input-label">பதில்</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="height: 50px;"></div>
    <div id="page10-button-bar11" class="button-bar">
      <div style="margin-right:-20px;">
        <a ui-sref="page11()" id="page10-button100" style="left:-10px;color:#121213;text-align:right;" class="button button-energized button-full icon-right ion-arrow-right-a">அடுத்த கேள்வி</a>
      </div>
    </div>
  </ion-content>
</ion-view>