<ion-view title="Page" id="page83">
  <ion-content padding="true" style="background: url(img/AzBhlt43QZWaemfTGO4A_firework_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page14-button183" style="font-size:25px;" class="button button-assertive button-block">நடுநிலையான கேள்விகளைச் சிறப்பாகச் செய்து முடித்து விட்டீர்கள். வாழ்த்துகள்</button>
    <div>
      <img src="img/dXXBSmqhTB2g2rhlPu9z_clapping_emoji_gif_without_background.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page7()" id="page14-button190" class="button button-energized button-block icon ion-ios-keypad"></a>
  </ion-content>
</ion-view>