<ion-view title="Page" id="page14">
  <ion-content padding="true" style="background: url(img/UfHuTRzpTwehTHSkFX1K_fiber-b_01.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/WT9Q5tN4SS6Ti2BNBukw_Slide4.JPG" style="display: block; width: 100%; height: 200px; margin-left: auto;">
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="page5()" id="page2-button57" style="left:-10px;font-weight:600;" class="button button-calm button-large button-full">கற்போம் வாரீர்</a>
    </div>
  </ion-content>
</ion-view>