<ion-view title="Page" id="page38">
  <ion-content padding="true" style="background: url(img/JQmnqOg2RL2lin6VsuRA_5ee467409c12463dacce2a193bbc97f7.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/S4Nej3o6RYCLhjCirPhU_tumblr_myxsjfeXd91rk0k2jo1_500.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="page37-button-bar25" class="button-bar">
      <a ui-sref="page43()" id="page37-button193" style="font-size:30px;" class="button button-assertive button-block">கி</a>
      <a ui-sref="page56()" id="page37-button194" style="font-size:25px;" class="button button-balanced button-block">ழை</a>
      <a ui-sref="page56()" id="page37-button195" style="font-size:30px;" class="button button-calm button-block">த</a>
    </div>
    <div id="page37-button-bar26" class="button-bar">
      <a ui-sref="page56()" id="page37-button196" style="color:#050506;font-size:25px;" class="button button-energized button-block">லை</a>
      <a ui-sref="page50()" id="page37-button197" style="font-size:25px;" class="button button-stable button-block">ளை</a>
      <a ui-sref="page56()" id="page37-button198" style="font-size:30px;" class="button button-royal button-block">ல</a>
    </div>
  </ion-content>
</ion-view>