<ion-view title="Page" id="page30">
  <ion-content padding="true" style="background: url(img/s1YrEzhCToul7ONyxI3v_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/fakFEez0RjilrIHuIgxv_buffalo_gif.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page58()" id="page29-button96" style="font-size:30px;" class="button button-assertive button-block">காளை</a>
    <a ui-sref="page64()" id="page29-button97" style="color:#0B0A0A;font-size:30px;" class="button button-energized button-block">காலை</a>
    <a ui-sref="page64()" id="page29-button98" style="font-size:30px;" class="button button-balanced button-block">காழை</a>
  </ion-content>
</ion-view>