<ion-view title="Page" id="page78">
  <ion-content padding="true" style="background: url(img/1zho04q5TSKrWByIPWYZ_dark-intro-background_hsu0kw0__F0000.png) no-repeat center;background-size:cover;" class="has-header">
    <button id="page75-button320" style="font-size:15px;" class="button button-assertive button-block">இக்குறுஞ்செயலியானது பருவம் 6 புத்தாக்கவியல் எனும் பாடத்தின் இடுபணி ஆகும்.</button>
    <button id="page75-button321" style="color:#141315;font-size:15px;" class="button button-energized button-block">இரண்டாம் ஆண்டு மாணவர்கள் லகர,ளகர,ழகர எழுத்துகளைக் கொண்டு சொற்களை உருவாக்க இக்குறுஞ்செயலி மிகவும் உறுதுணையாக இருக்கும்.</button>
    <button id="page75-button129" style="font-weight:500;color:#0B0A0A;font-size:15px;" class="button button-calm button-block">மாணவர்கள் சுயமாக கற்று மதிப்பீடு செய்யும் வகையில் இருக்கும்</button>
  </ion-content>
</ion-view>