<ion-view title="Page" id="page56">
  <ion-content padding="true" style="background: url(img/YTV0WkXlSrKaTZwXl2az_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page55-heading18" style="color:#F0E3E3;text-align:center;">தவறான பதில். மீண்டும் முயற்சி செய்க</h2>
    <div>
      <img src="img/RpkIIcEiRP6cfNQPJIWL_tenor2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page36()" id="page55-button269" style="color:#0E0D0F;font-size:30px;" class="button button-energized button-block icon-left ion-arrow-left-a">கேள்வி</a>
  </ion-content>
</ion-view>