<ion-view title="Page" id="page8" style="background-color:#131C1B;">
  <ion-content padding="true" style="background: url(img/UKip6ndyRneIjUjqkbcM_QuaintIdioticBlackbuck-size_restricted.gif) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider14" delegate-handle="slider14" id="page7-slider14" style="width:100%;height:100%;">
      <ion-slide-page id="page7-slide227">
        <button id="page7-button78" style="font-size:30px;" class="button button-assertive button-block">பயிற்சிகளைச் சிறப்பாக செய்ய வாழ்த்துகள்</button>
        <div>
          <img src="img/7njbsBsT42sFYloJ27yV_thumbs_up_cartoon_gif.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="page7-slide228" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div style="margin-right:-20px;">
          <a ui-sref="page27()" id="page7-button79" style="left:-10px;font-size:40px;" class="button button-assertive button-full">சுலபம்</a>
        </div>
        <div style="margin-right:-20px;">
          <a ui-sref="page9()" id="page7-button80" style="left:-10px;font-size:40px;" class="button button-calm button-full">நடுநிலை</a>
        </div>
        <div style="margin-right:-20px;">
          <a ui-sref="page20()" id="page7-button81" style="left:-10px;font-size:40px;" class="button button-energized button-full">கடினம்</a>
        </div>
        <a ui-sref="page33()" id="page7-button293" style="font-size:30px;" class="button button-royal button-block">கூடுதல் பயிற்சி</a>
        <div>
          <img src="img/k9wWQwmT9aiBiWCjuWwj_doing_homework_gif.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>