<ion-view title="Page" id="page32">
  <ion-content padding="true" style="background: url(img/QEkW72kDR51qmPLEaODN_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/WssPm0CRDCzLYMBhlkMz_giphy3.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page66()" id="page31-button108" style="font-size:30px;" class="button button-assertive button-block">மலை</a>
    <a ui-sref="page66()" id="page31-button109" style="font-size:30px;" class="button button-balanced button-block">மளை</a>
    <a ui-sref="page60()" id="page31-button111" style="font-size:30px;" class="button button-energized button-block">மழை</a>
  </ion-content>
</ion-view>