<ion-view title="Page" id="page31">
  <ion-content padding="true" style="background: url(img/Do7hTtj6S2rqRdF2I8Zj_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/e1C1MZ8Qu2BR42LO0qzw_giphy4.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page65()" id="page30-button99" style="font-size:30px;" class="button button-assertive button-block">தக்காலி</a>
    <a ui-sref="page59()" id="page30-button105" style="font-size:30px;" class="button button-balanced button-block">தக்காளி</a>
    <a ui-sref="page65()" id="page30-button106" style="color:#181617;font-size:30px;" class="button button-energized button-block">தக்காழி</a>
  </ion-content>
</ion-view>