<ion-view title="Page" id="page16">
  <ion-content padding="true" style="background: url(img/ZllhViPQiSVNrG2zYG8o_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/AaL2Fl5rTFm2KYrEZ6VI_13-132816_medium-image-strong-arm-cartoon-clipart.png" style="display: block; width: 80%; height: 10%; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page17-button94" style="font-weight:600;font-size:40px;" class="button button-positive button-large button-block">4.ப ____ ம்</button>
    <form id="page17-form8" class="list">
      <label class="item item-input" id="page17-input7">
        <span class="input-label">பதில்</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="page17-button-bar10" class="button-bar">
      <div style="margin-right:-20px;">
        <a ui-sref="page18()" id="page17-button101" style="left:-10px;color:#000000;font-size:20px;" class="button button-energized button-full icon-right ion-arrow-right-a">அடுத்த பக்கம்</a>
      </div>
    </div>
  </ion-content>
</ion-view>