<ion-view title="Page" id="page81" style="background-color:#1A256B;">
  <ion-content padding="true" style="background: url(img/lDDvr0DSRdmmtlTsDh81_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page9-button179" style="font-size:15px;" class="button button-assertive button-block">சொற்களில் உள்ள காலி இடங்களைச் சரியான 'லகர, ளகர,ழகர' எழுத்துகளைக் கொண்டு பூர்த்திச் செய்க</button>
    <div>
      <img src="img/zLoXk7dfQ2652awLBt9V_girl_doing_homework_gif.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page9-form15" class="list">
      <div id="page9-button-bar31" class="button-bar"></div>
    </form>
    <a ui-sref="page8()" id="page9-button180" style="font-weight:lighter;font-size:30px;text-align:right;" class="button button-royal icon-right ion-arrow-right-a"> கேள்வி</a>
    <div id="page9-button-bar32" class="button-bar"></div>
  </ion-content>
</ion-view>