<ion-view title="Page" id="page17">
  <ion-content padding="true" style="background: url(img/iEgKMDvWS06rVH4PIM91_lights_gif.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/Lls607gYSmaFfSXMBU4B_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page11-button103" style="font-size:35px;" class="button button-assertive button-large button-block">3.மி ____ காய்</button>
    <form id="page11-form5" class="list">
      <label class="item item-input" id="page11-input4" name="மிளகாய்">
        <span class="input-label">பதில்</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="height: 40px;"></div>
    <div id="page11-button-bar12" class="button-bar">
      <div style="margin-right:-20px;">
        <a ui-sref="page17()" id="page11-button107" style="left:-10px;color:#191A1A;" class="button button-energized button-large button-full icon-right ion-arrow-right-a">அடுத்த பக்கம்</a>
      </div>
    </div>
  </ion-content>
</ion-view>