<ion-view title="Page" id="page39">
  <ion-content padding="true" style="background: url(img/38cEKs1SR7GhwQN4XpmW_5ee467409c12463dacce2a193bbc97f7.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Gz4tmUWQQe1n8bBti5hH_tenor.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page38-button-bar27" class="button-bar">
      <a ui-sref="page51()" id="page38-button202" style="font-size:25px;" class="button button-assertive button-block">ழை</a>
      <a ui-sref="page57()" id="page38-button203" style="font-size:25px;" class="button button-balanced button-block">ளை</a>
      <a ui-sref="page57()" id="page38-button204" style="font-size:30px;" class="button button-calm button-block">ள</a>
    </div>
    <div id="page38-button-bar28" class="button-bar">
      <a ui-sref="page57()" id="page38-button205" style="color:#131415;font-size:30px;" class="button button-energized button-block">எ</a>
      <a ui-sref="page44()" id="page38-button206" style="font-size:30px;" class="button button-stable button-block">ஏ</a>
      <a ui-sref="page57()" id="page38-button207" style="font-size:25px;" class="button button-royal button-block">லை</a>
    </div>
  </ion-content>
</ion-view>